<div class="page-container">
        <div class="page-para">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut congue diam. Praesent mollis dictum leo, tempor faucibus justo. Maecenas viverra imperdiet pulvinar. Sed urna est, consectetur et sodales ut, mollis eget mauris. Etiam id justo sem. Maecenas convallis aliquam ante, eget dignissim nisl iaculis sed. Ut fermentum nisl vitae elit tincidunt, eu vulputate nisl fermentum. Vestibulum velit justo, luctus id leo vel, posuere commodo est. Quisque nulla odio, consectetur sit amet ullamcorper vel, commodo nec tortor. Donec non congue tortor, vitae ultricies ex. Ut non erat commodo, vulputate elit id, volutpat nulla. Quisque nec purus sed quam eleifend placerat. Morbi consequat, nisi pretium pulvinar convallis, augue sapien dapibus magna, eu tempor neque felis ac lectus.</p>
        </div>
    
        <div class="btn btn-primary btn-md" id="slideClose">Slide Close</div>
        <div class="btn btn-primary btn-md" id="slideOpen">Slide Open</div>
</div>
    